@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
    <h1>Bienvenido!</h1>
    <section>
        <p>Para ver el CRUD de la Aplicación coloca en la barra de busqueda del navegador: http://localhost:(Puerto)/Empleado </p>
    </section>
</div>